box.button-binding {
	font-size: 16px;
}

overlay {
	background-color: inherit;
}

box.macro {
	background-color: inherit;
}

.macro-name {
	font-size: 20px;
}

.dpi-profile {
	margin: 0px 5px;
}

.dpi-profile-config, .dpi-profile-config spinbutton {
	background-color: transparent;
}

.sensor-config label.title {
	font-size: 16px;
}

box.macro-event .action {
	border-width: 1px;
	border-style: solid;
	border-color: white;
}