box.button-binding {
	font-size: 16px;
}

overlay {
	background-color: inherit;
}

box.macro {
	background-color: inherit;
}

label.macro-events {
	margin: 10px;
	font-family: monospace;
	font-size: 16px;
}

.macro-name {
	font-size: 20px;
}
